doctype html
html(lang='en')
    include ../common/head.pug
    +head("Promocje")
    body
        header
            include ../common/navbar.pug
            +navbar()
        .everything
            .row.align-items-center
                .col-md-12.order-md-1.text-center.text-md-left.pr-md-5
                    h1.text-center Promocje
                    table.table
                        thead
                            tr
                                th(scope="col")
                                    h2 Nazwa Promocji
                                th(scope="col")
                                    h2 Wartość Promocji
                                th(scope="col")
                                    h2 Minimalna Ilość produktu w koszyku
                                th(scope="col")
                                    h2 Akcje
                                th(scope="col")
                                    a(href="./promocja").check3.btn.btn-primary.m-3 Dodaj
                            tr
                        tbody
                            for promocja in promocjaies
                                tr(id=promocja.id)
                                    td
                                        h5
                                            span #{promocja.nazwa_promocji}
                                    td
                                        h5
                                            span #{promocja.wartosc_promocji} zł
                                    td
                                        h5
                                            span #{promocja.min_ilosc_produktu_w_koszyku}
                                    td
                                        a(href="./promocja/"+promocja.id).check2.btn.btn-primary Wiecej
                                    td
                                        button(onclick=`usunPromocje('${promocja.id}')`).btn.btn-primary Usun
        include ../common/footer.pug
        +footer()
        script(src='./javascripts/promocje.js')
