doctype html
html(lang='en')
    include ../common/head.pug
    +head("Powiązania")
    body
        header
            include ../common/navbar.pug
            +navbar()
        .everything
            .row.align-items-center
                .col-md-12.order-md-1.text-center.text-md-left.pr-md-5
                    h1.text-center Powiązania
                    table.table
                        thead
                            tr
                                th(scope="col")
                                    h2 Nazwa Produktu
                                th(scope="col")
                                    h2 Nazwa Promocji
                                th(scope="col")
                                    h2 Cena Produktu
                                th(scope="col")
                                    h2 Ean Produktu
                                th(scope="col")
                                    h2 Wartość promocji
                                th(scope="col")
                                    h4 Minimalna ilość produktów by obowiązywała promocja
                                th(scope="col")
                                    h2 Akcje
                                th(scope="col")
                                    a(href="/powiazanie").check3.btn.btn-primary.m-3 Dodaj
                            tr
                        tbody
                            for powiazanie in powiazanies
                                    tr(id=powiazanie.id)
                                        td
                                            h5
                                                span #{powiazanie.powiazania_produkt.nazwa}
                                        td
                                            h5
                                                span #{powiazanie.powiazania_promocja.nazwa_promocji}
                                        td
                                            h5
                                                span #{powiazanie.powiazania_produkt.cena} zł
                                        td
                                            h5
                                                span #{powiazanie.powiazania_produkt.ean}
                                        td
                                            h5
                                                span #{powiazanie.powiazania_promocja.wartosc_promocji} zł
                                        td
                                            h5
                                                span #{powiazanie.powiazania_promocja.min_ilosc_produktu_w_koszyku} szt
                                        td
                                            a(href="/powiazanie/"+powiazanie.id).check2.btn.btn-primary Wiecej
                                        td
                                            button(onclick=`usunPowiazanie('${powiazanie.id}')`).btn.btn-primary Usun
        include ../common/footer.pug
        +footer()
        script(src='/javascripts/powiazanie.js')
