doctype html
html(lang='en')
    include ../common/head.pug
    +head("Dodaj Produkt")
    body
        header
            include ../common/navbar.pug
            +navbar()
        .container
            .row.align-items-center
                .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
                    h1.text-cetner Edytuj Produkt
                    form(action="./produkt/" + produkties.id + "/edit", method="POST")
                        .input-group.mb-3
                            input(name="nazwa", type="text",placeholder="Podaj nazwę produktu: ",value=produkties.nazwa).form-control
                        .input-group.mb-3
                            input(name="opis", type="text",  placeholder="Podaj opis produktu: ",value=produkties.opis).form-control
                        .input-group.mb-3
                            input(name="cena", type="text", placeholder="Podaj cenę produktu: np(123.02)",value=produkties.cena).form-control
                        .input-group.mb-3
                            input(name="wymiary", type="text", placeholder="Podaj wymiary produktu: (mm) ,(1.1x1.1x1.1),(dł x szer x wys)",value=produkties.wymiary).form-control
                        .input-group.mb-3
                            input(name="ean", type="text", placeholder="Podaj EAN produktu: (8 cyfr)",value=produkties.ean).form-control
                        .input-group.mb-3
                            input(name="kategoria", type="text", placeholder="Podaj kategorię produktu: ",value=produkties.kategoria).form-control
                        .input-group.mb-3
                            button(type="submit").btn.btn-primary Potwierdz
            a(href="/produkt/" + produkties.id ).check3.btn.btn-primary Powrót
        include ../common/footer.pug
        +footer()